#hero_section {
	display: block;
	width: 1000px;
	height: 600px;
	margin: 50px auto;
}

#hero_section h1 {
	text-align: center;
	font-size: 36px;
	padding: 50px;
	line-height: 70px;
}

#hero_section h1 span {
	display: block;
}

#hero_section form {
	background-color: #673ab7;
	display: flex;
	flex-wrap: wrap;
	width: 824px;
	padding: 10px;
	border-radius: 7px;
	margin: 0 auto;

}

#hero_section form input {
	width: 330px;
	padding: 20px;
	margin-right: 2px;
	border-radius: 7px 0 0 7px;
}

#hero_section form div {
	background-color: #fff;
	width: 330px;
	padding: 20px;
	margin-right: 2px;
	border-radius: 0 7px 7px 0;
}

#hero_section form button {
	background-color: #d01f1f00;
	width: 140px;
	height: 60px;
	font-size: 18px;
	text-align: center center;
	margin: auto 0;
	padding: 20px;
}

#hero_section form button:hover a {
	color: #000;
}

#hero_section form button a {
	color: #fff;
}
