<div class="navbar-component">
    <div class="navbar area">
        <a href="#" class="brand">Protibeshi</a>
        <nav role="navigation" id="navigation" class="list">
            <a href="protibeshi.php" class="item -link">Home</a>
            <a href="about.php" class="item -link">About</a>
            <a href="registration.php" class="item -link">Registration</a>
            <a href="login.php" class="item -link">Login</a>
        </nav>
        <button data-collapse data-target="#navigation" class="toggle">
            <span class="icon"></span>
        </button>
    </div>
</div>